body{
    padding:  80px;
   background-color: aliceblue;
   
}
h1{
    text-align: center;
}
#container{
    text-align: center;
    background-color: coral;
    padding:40px;
    height:120px;
    
}
.input{
    display: inline-block;
    padding:20px;
    font-size: 25px;

   
}
.inp{
    font-size: 30px;
    font-weight: bold;
    width:250px;
    
    text-align: center;

}